.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 120px 0;
}

.resume-card {
  display: flex;
  height: 350px;
  width: 1000px;
}

.resume-bullets {
  box-shadow: 15px 0 9px -15px #1f2235;
  height: 100%;
  width: 320px;
}

.resume-bullet-details {
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 0 0 80px;
}

.experience-description {
  margin: 10px 0 0 0;
  text-align: justify;
  max-width: 100%;
}

.resume-description-text {
  font-size: 12px;
}
